@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Montserrat:wght@100&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Montserrat:wght@100&family=Poppins&family=Raleway&display=swap');

body{
    background-color: #ebb0b0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    position: absolute;
    

}


.title{
    display: flex;
    justify-content: center;
    font-family: Butterfly Kids;
    font-size:xx-large;
}

button {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    border-style: none;
    font-family: Poppins;
}

button:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px
    #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;

}



.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #1b0e30;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 10px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 10px 10px;
    border: 0;
    flex: 1;
}
.container{
    display: grid;
    width: 500px; 
    height: 500px; 
    gap: 0px;
    background-color: white;
    overflow: hidden;

}

.footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-family: Poppins;

}
.cell{
    
    border: rgb(167, 167, 167);
    margin: 0;
    width: 100%; 
    height: 100%; 
}

label{
    color: whitesmoke;
    font-family: Poppins;
}
span{
    color: whitesmoke;
    font-family: Poppins;
}

p{
    color: whitesmoke;
    font-family: Poppins;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: underline;
}

#gh-logo{
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    
    /* Round corners */
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    
    /* Round corners */
    border-radius: 50%; 
}

input:checked + .slider {
    background-color: #ff96ad;
}

input:checked + .slider:before {
    transform: translateX(26px);
}




